<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-in-app-update" version="0.0.1">
    <name>UpdatePlugin</name>

    <description>An Android Cordova plugin that allows users to update app to letest version without leaving the application.</description>
    <license>MIT</license>

    <keywords>cordova,android,playstore,update,autoupdate,In app update,Stalness days,Priority update,Flexible update,Immidiate update</keywords>
    <repo>https://github.com/MrSpark2591/cordova-app-update-plugin.git</repo>
    <issue>https://github.com/MrSpark2591/cordova-app-update-plugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/updatePlugin.js" name="UpdatePlugin">
        <clobbers target="window.plugins.updatePlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UpdatePlugin">
                <param name="android-package" value="com.mrspark.cordova.plugin.UpdatePlugin"/>
            </feature>
        </config-file>
        <framework src="com.android.support:appcompat-v7:+" />
        <framework src="com.android.support:design:+" />
         <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
            <activity android:name="MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar" />
        </edit-config>
        <framework src="src/android/build-extra.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/UpdatePlugin.java" target-dir="src/com/mrspark/cordova/plugin" />
    </platform>
</plugin>
